<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<!--Match the angular module declare in app.js-->
<body ng-app="LunchCheck">
   <div class="container text-center">
     <h1>Lunch Checker</h1>
     <!--Lunch Check Controller-->
      <div ng-controller="LunchCheckController">
        <!--Text box for entering dishes-->
         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-style="{'border-color' : borderColor}" >
         </div>

         <div class="form-group">
             <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
         </div>

         <div ng-style="{ 'color' : colorChange}" class="form-group message">
           <!-- Your message can go here. -->
           {{result}}
         </div>

      </div>
   </div>

</body>
</html>
